<div class="dialog-container">
    <h2 mat-dialog-title>Invite user</h2>
    <div mat-dialog-content class="content">
        <mat-form-field appearance="fill">
            <mat-label>Search user by name</mat-label>
            <input type="text" matInput autocomplete="off" [formControl]="control" #userName [matAutocomplete]="auto">
            <button mat-icon-button matSuffix (click)="searchUsers();">
                <mat-icon>search</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateSelectedOption($event.option.id);">
                <mat-option *ngFor="let user of filteredUsersList | async; let e = even;" [id]="user.id.toString()"
                    [value]="user.userName" class="option" [ngClass]="e ? 'gray' : 'white'">
                    <div class="helper-div">
                        <img src="../../../assets/img/cat.png" class="img">
                        {{user.userName}}
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button mat-dialog-close color="warn">Cancel</button>
        <button mat-button color="primary" (click)="inviteUser();">Invite</button>
    </div>
</div>