<app-unauthorized-user-layout>
    <div id="container">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser();">
            <h1 id="motto">Everything <br><br>we can do, <br><br>is for you!</h1>
            <br><br>
            <mat-form-field appearance="fill" class="formField">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput formControlName="Email">
                <mat-error>{{getErrorForFormControl('Email')}}</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="formField">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="Username">
                <mat-error>{{getErrorForFormControl('Username')}}
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="formField">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="Password" [type]="hide ? 'password' : 'text'">
                <mat-error>{{getErrorForFormControl('Password')}}
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="formField">
                <mat-label>Repeat password</mat-label>
                <input type="password" matInput formControlName="RepeatPassword" [type]="hide2 ? 'password' : 'text'">
                <mat-error>
                    {{getErrorForFormControl('RepeatPassword')}}
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button #registerBtn mat-raised-button color="primary" type="submit"
                [disabled]="!registerForm.valid || loading">
                <ng-container *ngIf="loading==true; then loadingGif else loaded"></ng-container>
            </button><br>
            <a href="user/login">Already have an account? Log In</a>
        </form>
    </div>
</app-unauthorized-user-layout>

<ng-template #loadingGif>
    <img src="../../../assets/gif/loading.gif" style="max-width: 30px; ">
</ng-template>

<ng-template #loaded>Register</ng-template>